body {
    width: 650px;
    border: 4px double blue;
    background-color: white;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
 
footer{
    border-top: 4px solid purple;
}
html{
    background-color: yellow;
}
 h1{
    font-size: 28px;
    color: blue;
    margin: 18px;
 }

 h2{
    font-size: 20px;
    padding-left: 18px;
 }

 h3{
    font-size: 18px;

    padding-left: 18px;

 }


 p{
    /* padding-left: 100px; */
 }
 cite{
    margin-left: 50px;
    text-align: right;
 }
.right-align {
    text-align: right;
}

.float-left {
    float: left;
    margin: 10px;
}
footer {
    border-top: 3px solid blue;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
}

scite {
    color: blue;
    font-style: normal;
}
